In [14]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import csv
import pandas as pd
import os
import time
import numpy as np
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By 
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

START_PAGE = 1451
END_PAGE = 1500
driver = webdriver.Firefox(executable_path=r'D:\git\FINA2390-Programs\geckodriver.exe')
driver.get("https://www.touzi.com/simu/productlist-pn1.html#anchor")

#df_columns = ['ranking','fund_short_name','fund_company','investment_strategy','lastest_NAV','cumulative_return','recent_month_return','annalized_return','sharpe_ratio','year_rating']
#df_current_columns = ['Ranking','Fund Short Name','Investment Strategy','Fund Company','Lastest NAV','Cumulative Return']
df_etf = pd.DataFrame(columns=['Ranking','Fund Short Name','Investment Strategy','Dummy','Fund Company','Dummy','Recent Month Return','Dummy','Lastest NAV','Cumulative Return','Dummy','Dummy','Dummy','Annalized Return','Sharpe Ratio','Year Rating'])

def go_to_page(page):
    if page != 1:
        url = 'https://www.touzi.com/simu/productlist-pn'+ str(START_PAGE) + '.html#anchor'
        driver.get(url)
    else:
        return

def bypass_login():
    iclose = driver.find_element_by_xpath('/html/body/div[13]/a').click()
    print 'Bypass login success'
    print 'Ready to crawl pages...'

def main():
    go_to_page(START_PAGE)
    bypass_login()
    print 'Start at PAGE'+ str(START_PAGE)
    
    n = 1
    for CURRENT_PAGE in range(START_PAGE,END_PAGE+1):
        time.sleep(2)
        print '--------------------PAGE ' + str(CURRENT_PAGE) +' START--------------------'
        START_TIMESTAMP = time.time()
        for row in driver.find_elements_by_xpath('/html/body/div[7]/div[2]/table/tbody/tr'):
            #skip the first row
            if len(row.find_elements_by_tag_name("td")) == 0:
                continue
            #print 'Start handling '+ str(n) +'th row'
            for i in range(12):
                df_etf.loc[n, df_etf.columns[i]] = row.find_elements_by_tag_name("td")[i].text
            #print 'Finish handling '+ str(n) +'th row'
            #print '----------------------------------'
            n = n + 1
        print '--------------------PAGE ' + str(CURRENT_PAGE) +' FINISH--------------------'
        END_TIMESTAMP = time.time()
        print '-TIME USED:' + str(START_TIMESTAMP-END_TIMESTAMP) + '-'
        
        #store every first 10,20,30... pages to CSV for backup purpose
        if (CURRENT_PAGE % 50) == 0:
            filename = '[Bonus][touzi][Intrim Backup][' + str(CURRENT_PAGE) + ']Project 2.1.2 PAGE ' + str(START_PAGE) + 'to PAGE ' + str(CURRENT_PAGE) + 'Records.csv'
            df_etf.to_csv(filename, index=False,  encoding='utf-8')
            print '[Intrim Backup]Saved First '+ str(CURRENT_PAGE) + 'Pages Records to CSV'
    
        #click next page
        driver.find_element_by_xpath('/html/body/div[7]/div[2]/div/a[13]').click()
        time.sleep(3)
    
    filename = '[Bonus][touzi]Project 2.1.2 PAGE ' + str(START_PAGE) + 'to PAGE ' + str(END_PAGE) + 'Records.csv'
    df_etf.to_csv(filename, index=False, encoding='utf-8')
    print 'Exported to csv'
    driver.close()
        
    

if __name__ == "__main__":
    main()

Bypass login success
Ready to crawl pages...
Start at PAGE1451
--------------------PAGE 1451 START--------------------
--------------------PAGE 1451 FINISH--------------------
-TIME USED:-5.48399996758-
--------------------PAGE 1452 START--------------------
--------------------PAGE 1452 FINISH--------------------
-TIME USED:-7.28200006485-
--------------------PAGE 1453 START--------------------
--------------------PAGE 1453 FINISH--------------------
-TIME USED:-8.89299988747-
--------------------PAGE 1454 START--------------------
--------------------PAGE 1454 FINISH--------------------
-TIME USED:-6.02499985695-
--------------------PAGE 1455 START--------------------
--------------------PAGE 1455 FINISH--------------------
-TIME USED:-5.17100000381-
--------------------PAGE 1456 START--------------------
--------------------PAGE 1456 FINISH--------------------
-TIME USED:-7.03200006485-
--------------------PAGE 1457 START--------------------
--------------------PAGE 1457 FINISH--------------------
-TIME USED:-5.36899995804-
--------------------PAGE 1458 START--------------------
--------------------PAGE 1458 FINISH--------------------
-TIME USED:-7.60899996758-
--------------------PAGE 1459 START--------------------
--------------------PAGE 1459 FINISH--------------------
-TIME USED:-9.09000015259-
--------------------PAGE 1460 START--------------------
--------------------PAGE 1460 FINISH--------------------
-TIME USED:-12.2160000801-
--------------------PAGE 1461 START--------------------
--------------------PAGE 1461 FINISH--------------------
-TIME USED:-7.8710000515-
--------------------PAGE 1462 START--------------------
--------------------PAGE 1462 FINISH--------------------
-TIME USED:-9.02100014687-
--------------------PAGE 1463 START--------------------
--------------------PAGE 1463 FINISH--------------------
-TIME USED:-6.04999995232-
--------------------PAGE 1464 START--------------------
--------------------PAGE 1464 FINISH--------------------
-TIME USED:-8.45799994469-
--------------------PAGE 1465 START--------------------
--------------------PAGE 1465 FINISH--------------------
-TIME USED:-10.753000021-
--------------------PAGE 1466 START--------------------
--------------------PAGE 1466 FINISH--------------------
-TIME USED:-8.99800014496-
--------------------PAGE 1467 START--------------------
--------------------PAGE 1467 FINISH--------------------
-TIME USED:-7.11000013351-
--------------------PAGE 1468 START--------------------
--------------------PAGE 1468 FINISH--------------------
-TIME USED:-8.70399999619-
--------------------PAGE 1469 START--------------------
--------------------PAGE 1469 FINISH--------------------
-TIME USED:-10.9380002022-
--------------------PAGE 1470 START--------------------
--------------------PAGE 1470 FINISH--------------------
-TIME USED:-13.7809998989-
--------------------PAGE 1471 START--------------------
--------------------PAGE 1471 FINISH--------------------
-TIME USED:-16.1909999847-
--------------------PAGE 1472 START--------------------
--------------------PAGE 1472 FINISH--------------------
-TIME USED:-7.27900004387-
--------------------PAGE 1473 START--------------------
--------------------PAGE 1473 FINISH--------------------
-TIME USED:-8.76900005341-
--------------------PAGE 1474 START--------------------
--------------------PAGE 1474 FINISH--------------------
-TIME USED:-7.39199995995-
--------------------PAGE 1475 START--------------------
--------------------PAGE 1475 FINISH--------------------
-TIME USED:-8.94499993324-
--------------------PAGE 1476 START--------------------
--------------------PAGE 1476 FINISH--------------------
-TIME USED:-7.13999986649-
--------------------PAGE 1477 START--------------------
--------------------PAGE 1477 FINISH--------------------
-TIME USED:-9.03099989891-
--------------------PAGE 1478 START--------------------
--------------------PAGE 1478 FINISH--------------------
-TIME USED:-7.66999983788-
--------------------PAGE 1479 START--------------------
--------------------PAGE 1479 FINISH--------------------
-TIME USED:-8.74500012398-
--------------------PAGE 1480 START--------------------
--------------------PAGE 1480 FINISH--------------------
-TIME USED:-7.54600000381-
--------------------PAGE 1481 START--------------------
--------------------PAGE 1481 FINISH--------------------
-TIME USED:-9.34899997711-
--------------------PAGE 1482 START--------------------
--------------------PAGE 1482 FINISH--------------------
-TIME USED:-7.56999993324-
--------------------PAGE 1483 START--------------------
--------------------PAGE 1483 FINISH--------------------
-TIME USED:-10.0899999142-
--------------------PAGE 1484 START--------------------
--------------------PAGE 1484 FINISH--------------------
-TIME USED:-7.14399981499-
--------------------PAGE 1485 START--------------------
--------------------PAGE 1485 FINISH--------------------
-TIME USED:-9.3140001297-
--------------------PAGE 1486 START--------------------
--------------------PAGE 1486 FINISH--------------------
-TIME USED:-15.8150000572-
--------------------PAGE 1487 START--------------------
--------------------PAGE 1487 FINISH--------------------
-TIME USED:-7.88100004196-
--------------------PAGE 1488 START--------------------
--------------------PAGE 1488 FINISH--------------------
-TIME USED:-10.0299999714-
--------------------PAGE 1489 START--------------------
--------------------PAGE 1489 FINISH--------------------
-TIME USED:-9.99099993706-
--------------------PAGE 1490 START--------------------
--------------------PAGE 1490 FINISH--------------------
-TIME USED:-7.7009999752-
--------------------PAGE 1491 START--------------------
--------------------PAGE 1491 FINISH--------------------
-TIME USED:-10.1559998989-
--------------------PAGE 1492 START--------------------
--------------------PAGE 1492 FINISH--------------------
-TIME USED:-10.8980000019-
--------------------PAGE 1493 START--------------------
--------------------PAGE 1493 FINISH--------------------
-TIME USED:-11.1160001755-
--------------------PAGE 1494 START--------------------
--------------------PAGE 1494 FINISH--------------------
-TIME USED:-8.62400007248-
--------------------PAGE 1495 START--------------------
--------------------PAGE 1495 FINISH--------------------
-TIME USED:-10.518999815-
--------------------PAGE 1496 START--------------------
--------------------PAGE 1496 FINISH--------------------
-TIME USED:-16.0580000877-
--------------------PAGE 1497 START--------------------
--------------------PAGE 1497 FINISH--------------------
-TIME USED:-29.2749998569-
--------------------PAGE 1498 START--------------------
--------------------PAGE 1498 FINISH--------------------
-TIME USED:-18.4609999657-
--------------------PAGE 1499 START--------------------
--------------------PAGE 1499 FINISH--------------------
-TIME USED:-22.8069999218-
--------------------PAGE 1500 START--------------------
--------------------PAGE 1500 FINISH--------------------
-TIME USED:-11.9049999714-
[Intrim Backup]Saved First 1500Pages Records to CSV
Exported to csv

In [36]:
df_new = pd.DataFrame(columns=['A','B'])

In [37]:
df_new

Empty DataFrame
Columns: [A, B]
Index: []

In [46]:
import numpy as np
df = pd.DataFrame(np.random.rand(4,4), columns = list('abcd'))

In [47]:
df

          a         b         c         d
0  0.018148  0.684642  0.302688  0.620655
1  0.006370  0.100052  0.167915  0.533222
2  0.484550  0.401409  0.154014  0.595468
3  0.858162  0.673772  0.863416  0.216283

In [53]:
df.loc[4,1] = 0

In [54]:
df

          a         b         c         d  (5, 1)    1
0  0.018148  0.000000  0.302688  0.620655     0.0  NaN
1  0.006370  0.100052  0.167915  0.533222     0.0  NaN
2  0.484550  0.401409  0.154014  0.595468     0.0  NaN
3  0.858162  0.673772  0.863416  0.216283     0.0  NaN
4       NaN       NaN       NaN       NaN     NaN  0.0

In [55]:
df.loc[4] = 1

In [56]:
df

          a         b         c         d  (5, 1)    1
0  0.018148  0.000000  0.302688  0.620655     0.0  NaN
1  0.006370  0.100052  0.167915  0.533222     0.0  NaN
2  0.484550  0.401409  0.154014  0.595468     0.0  NaN
3  0.858162  0.673772  0.863416  0.216283     0.0  NaN
4  1.000000  1.000000  1.000000  1.000000     1.0  1.0

In [59]:
df.loc[4, df.columns[1]] = 12312

In [60]:
df

          a             b         c         d  (5, 1)    1
0  0.018148      0.000000  0.302688  0.620655     0.0  NaN
1  0.006370      0.100052  0.167915  0.533222     0.0  NaN
2  0.484550      0.401409  0.154014  0.595468     0.0  NaN
3  0.858162      0.673772  0.863416  0.216283     0.0  NaN
4  1.000000  12312.000000  1.000000  1.000000     1.0  1.0