In [17]:
import csv
import pandas as pd
import os
import time

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import TimeoutException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.common.by import By 
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

############################################################################################
#Initial variables
#This part of the code is used to set the inital parameters for the web crawler
############################################################################################

#As there only one page for this ranking, we can simply set both start page and end page to 1
START_PAGE = 1
END_PAGE = 1

#For file naming
PROJECT_ABBR = "CompleteUniverisityGuide"
PROJECT_NAME = "Project 5"

#Base URL
URL = "https://www.thecompleteuniversityguide.co.uk/league-tables/rankings"

#Main window
driver = webdriver.Firefox()
driver.get(URL)

#Secondar Window
driver2 = webdriver.Firefox()

df_columns = ['Ranking',
              'University Name',
              'Country',
              'Source']

#Create new dataframe with a the fields above
df_etf = pd.DataFrame(columns=df_columns)

############################################################################################
#save_file
#This function is to save the file, where the file will be named different according to different state
############################################################################################
def save_file(state, CURRENT_PAGE):
    if state == 'backup':
        filename = '['+ PROJECT_ABBR +'][Intrim Backup][' + str(CURRENT_PAGE) + ']' + PROJECT_NAME + ' PAGE ' + str(START_PAGE) + ' to PAGE ' + str(CURRENT_PAGE) + ' Records.csv'
        df_etf.to_csv(filename, index=False,  encoding='utf-8')
        print '[Intrim Backup]Saved First '+ str(CURRENT_PAGE) + 'Pages Records to CSV'
    elif state == 'all':
        filename = '['+ PROJECT_ABBR +']'+ PROJECT_NAME +' PAGE ' + str(START_PAGE) + 'to PAGE ' + str(END_PAGE) + 'Records.csv'
        df_etf.to_csv(filename, index=False, encoding='utf-8')
        print 'Exported to csv'
    
############################################################################################
#Main
#This part is the main function of the program
############################################################################################
def main():
    #Ensure the page is completely load            
    time.sleep(2)
                
    print 'Start at PAGE'+ str(START_PAGE)
    
    #n in the row index for the dataframe
    n = 1
    
    #This is a loop to loop over every page of the website
    for CURRENT_PAGE in range(START_PAGE,END_PAGE+1):
        print '--------------------PAGE ' + str(CURRENT_PAGE) +' START--------------------'
        START_TIMESTAMP = time.time()
        
        #As all the <td> are wrapped by <tr>, we can use a loop to get the <td> inside a <td>
        for row in driver.find_elements_by_xpath('//*[@id="top"]/div[2]/div[6]/div/div[1]/table/tbody/tr[contains(@class, "expandable")]'):     
            #Extracting the fields ranking, university name, country and also no. of students
            df_etf.loc[n, 'Ranking']         = row.find_element_by_xpath('td[2]').text
            df_etf.loc[n, 'University Name'] = row.find_element_by_xpath('td[4]/a').text
            
            link = row.find_element_by_xpath('td[4]/a')
            
            n = n + 1
        print '--------------------PAGE ' + str(CURRENT_PAGE) +' FINISH--------------------'
        END_TIMESTAMP = time.time()
        
        #Print the time used for each page so as to estimate the remaining time of the program
        print '-TIME USED:' + str(START_TIMESTAMP-END_TIMESTAMP) + '-'
        
    #set Source 
    df_etf['Source'] = PROJECT_ABBR
    
    #set Country as UK as this ranking is merely about university in UK
    df_etf['Country'] = 'UK'
    
    #export the file to CSV
    save_file('all', CURRENT_PAGE)
    
    #close the driver after the program finished
    driver.quit()

############################################################################################
#This part is of the code is to tell the program to start function main() when it launches
############################################################################################
if __name__ == "__main__":
    main()

Start at PAGE1
--------------------PAGE 1 START--------------------
--------------------PAGE 1 FINISH--------------------
-TIME USED:-3.5649998188-
Exported to csv

In [18]:

df_etf

,Ranking,University Name,Country,No. of Students,Source
1,1st,Cambridge,UK,NaN,CompleteUniverisityGuide
2,2nd,Oxford,UK,NaN,CompleteUniverisityGuide
3,3rd,St Andrews,UK,NaN,CompleteUniverisityGuide
4,4th,London School of Economics,UK,NaN,CompleteUniverisityGuide
5,5th,Imperial College London,UK,NaN,CompleteUniverisityGuide
6,6th,Durham,UK,NaN,CompleteUniverisityGuide
7,7th,University College London,UK,NaN,CompleteUniverisityGuide
8,8th,Warwick,UK,NaN,CompleteUniverisityGuide
9,9th,Lancaster,UK,NaN,CompleteUniverisityGuide
10,10th,Loughborough,UK,NaN,CompleteUniverisityGuide
11,11th,Bath,UK,NaN,CompleteUniverisityGuide
12,12th,East Anglia (UEA),UK,NaN,CompleteUniverisityGuide
13,13th,Surrey,UK,NaN,CompleteUniverisityGuide
14,14th,Exeter,UK,NaN,CompleteUniverisityGuide
15,14th,Leeds,UK,NaN,CompleteUniverisityGuide
16,16th,Birmingham,UK,NaN,CompleteUniverisityGuide
17,17th,Bristol,UK,NaN,CompleteUniverisityGuide
18,18th,Nottingham,UK,NaN,CompleteUniverisityGuide
19,19th,Sussex,UK,NaN,CompleteUniverisityGuide
20,20th,York,UK,NaN,CompleteUniverisityGuide
21,21st,King's College London,UK,NaN,CompleteUniverisityGuide
22,22nd,Manchester,UK,NaN,CompleteUniverisityGuide
23,23rd,Edinburgh,UK,NaN,CompleteUniverisityGuide
24,23rd,Newcastle,UK,NaN,CompleteUniverisityGuide
25,25th,Kent,UK,NaN,CompleteUniverisityGuide
26,26th,Southampton,UK,NaN,CompleteUniverisityGuide
27,27th,Reading,UK,NaN,CompleteUniverisityGuide
28,27th,Glasgow,UK,NaN,CompleteUniverisityGuide
29,29th,Heriot-Watt,UK,NaN,CompleteUniverisityGuide
30,30th,Leicester,UK,NaN,CompleteUniverisityGuide
...,...,...,...,...,...
100,100th,West of Scotland,UK,NaN,CompleteUniverisityGuide
101,101st,Teesside,UK,NaN,CompleteUniverisityGuide
102,102nd,Sunderland,UK,NaN,CompleteUniverisityGuide
103,102nd,Kingston,UK,NaN,CompleteUniverisityGuide
104,104th,Worcester,UK,NaN,CompleteUniverisityGuide
105,105th,Staffordshire,UK,NaN,CompleteUniverisityGuide
106,106th,Canterbury Christ Church,UK,NaN,CompleteUniverisityGuide
107,107th,Royal Agricultural University,UK,NaN,CompleteUniverisityGuide
108,108th,London South Bank,UK,NaN,CompleteUniverisityGuide
109,109th,Bedfordshire,UK,NaN,CompleteUniverisityGuide
110,110th,South Wales,UK,NaN,CompleteUniverisityGuide
111,110th,Northampton,UK,NaN,CompleteUniverisityGuide
112,112th,Leeds Trinity,UK,NaN,CompleteUniverisityGuide
113,113th,Newman,UK,NaN,CompleteUniverisityGuide
114,114th,East London,UK,NaN,CompleteUniverisityGuide
115,115th,Bishop Grosseteste,UK,NaN,CompleteUniverisityGuide
116,116th,"Birkbeck, University of London",UK,NaN,CompleteUniverisityGuide
117,117th,Southampton Solent,UK,NaN,CompleteUniverisityGuide
118,118th,Anglia Ruskin,UK,NaN,CompleteUniverisityGuide
119,119th,University of Wales Trinity Saint David,UK,NaN,CompleteUniverisityGuide
120,120th,"St Mary's, Twickenham",UK,NaN,CompleteUniverisityGuide
121,121st,Leeds Beckett,UK,NaN,CompleteUniverisityGuide
122,122nd,York St John,UK,NaN,CompleteUniverisityGuide
123,123rd,Cumbria,UK,NaN,CompleteUniverisityGuide
124,124th,Buckinghamshire New,UK,NaN,CompleteUniverisityGuide
125,125th,Bolton,UK,NaN,CompleteUniverisityGuide
126,126th,Plymouth Marjon,UK,NaN,CompleteUniverisityGuide
127,127th,London Metropolitan,UK,NaN,CompleteUniverisityGuide
128,128th,Wrexham Glyndwr,UK,NaN,CompleteUniverisityGuide
129,129th,Suffolk,UK,NaN,CompleteUniverisityGuide